    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  background: 
linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
url("img/campamento.png");
background-size: cover;
background-position: center;
background-attachment: fixed;
}

/* Encabezado */
header {
  background: rgba(0, 0, 0, 0.55);
  padding: 1.5rem;
  backdrop-filter: blur(5px);
}

h1 {
  font-size: 2.2rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #ffd27a; /* luz de fogata */
}

section {
  padding: 1rem 2rem;
}

/* Tarjetas del programa */
.programa {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 12px;
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: left;
  backdrop-filter: blur(6px);
}

.programa h3 {
  color: #ffe3a6;
  border-bottom: 2px solid #ffd27a;
  padding-bottom: 0.3rem;
}

.programa ul {
  list-style: none;
  padding: 0;
}

.programa li {
  margin: 0.5rem 0;
}

/* Footer */
footer {
  margin-top: 2rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  color: #ffd27a;
}

/* Logo */
img.logo {
  width: 300px;
  margin-top: 1rem;
}